.container {
  width: 100vw;
  height: 100vw;
  display: flex;

}

.direito {
  margin-left: 5%;
  margin-top: 1.2%;
}

.user {
  width: 20vw;
  height: 40vh;
  border-radius: 10px;
  margin: 6%;
  background-color: #302F3D;
  color: #837E9F;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  img {
    border-radius: 50%;
    width: 40%;
    height: 40%;
  }

  h2 {
    margin-top: 2%;
  }

  p {
    margin: 3%;
    font-size: .9rem;
  }

}

.sobre {
  width: 20vw;
  height: 15vh;
  border-radius: 10px;
  margin: 6%;
  padding: 2%;
  background-color: #302F3D;
  color: #837E9F;

  h2 {
    margin: 2%;
  }

  p {
    text-align: justify;
  }
}

.adress {
  width: 20vw;
  border-radius: 10px;
  margin: 6%;
  padding: 2%;
  background-color: #302F3D;
}

.tecnologia {
  width: 20vw;
  height: 25vh;
  border-radius: 10px;
  margin: 6%;
  padding: 1%;
  background-color: #302F3D;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  strong {
    width: 100%;
    margin-bottom: 1%;
    padding: 1%;
  }

  p {
    background-color: #CB92B1;
    color: #000000;
    border-radius: 50px;
    width: 5vw;
    height: 3vh;
    margin: 1%;
    text-align: center;

  }
}

.menuPortifolio {
  width: 50vw;
  height: 5vh;
  background-color: #302F3D;
  position: relative;
  border-radius: 10px;
  padding: 1%;
  display: flex;
  justify-content: space-between;

  a {
    color: #000000;
    text-decoration: none;
  }

}

.portifolio {
  display: flex;
}

.post {
  width: 25vw;
  height: 15vh;
  background-color: #302F3D;
  border-radius: 10px;
  padding: 1%;
  margin-top: 2%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  strong {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  p {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
  }

}

.post2 {
  width: 25vw;
  height: 15vh;
  background-color: #302F3D;
  border-radius: 10px;
  padding: 1%;
  margin-top: 2%;
  margin-left: 1%;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  strong {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  p {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
  }

}